{
  "extends": "airbnb-base",
  "rules": {
    "strict": 0,
    "comma-dangle": 0,
    "arrow-body-style": [2, "as-needed"],
    "arrow-parens": 0,
    "quotes": [2, "single"],
    "prefer-spread": 0,
    "prefer-rest-params": 0,
    "func-names": 0,
    "import/no-unresolved": 0,
    "no-underscore-dangle": 0,
    "object-curly-spacing": 0,
    "no-param-reassign": 0,
    "no-confusing-arrow": 0,
    "import/no-extraneous-dependencies": 0,
    "no-restricted-syntax": 0
  }
}
